<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>商品新規登録</h2>
    </div>
  </div>

  <div class="row">
    <%= render "form",item: @item %>

      <div class="form-group">
        <%= f.submit "変更の保存",class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>