<div class="container">
  <div class="row">
    <%= render "public/items/genre_search" %>

    <div class="col-md-8 offset-md-1">
      <p>
        ようこそ、ながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2>新着商品</h2>

        <%= link_to "全ての商品を見る", items_path %>
      </div>
    </div>
  </div>
</div>
<%= button_to "ログアウト", destroy_customer_session_path, method: :delete %>
