<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h5>ジャンル編集</h5>
    </div>
  </div>

  <div class="row">
      <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
        <%= f.label :ジャンル名, class: "font-wegit-bold" %>
        <%= f.text_field :name, class: "offset-1" %>
        <%= f.submit "変更を保存", class: "btn btn-success offset-1" %>
      <% end %>
  </div>

</div>