/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

.image1 {
  background-image: image-url("eclair-g1f10a0957_640.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.image2 {
  background-image: image-url("cupcakes-gaf1f6f31a_640.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.image3 {
  background-image: image-url("baked-goods-gabb59d2b6_640.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.image4 {
  background-image: image-url("sweets-g84763a8c6_640.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.box{
  height: 300px;
  width: 500px;
  z-index: -1;
  position: absolute;
}

.box-text{
  height: 300px;
  width: 500px;
  position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}


.logo {
  font-size: 35px;
  font-family: 'Tangerine', cursive;
  color: #FFB6C1;
}

.field_with_errors {
  display: contents;
}

.header-color {
  background-color:#008080;
}

.text_color {
  color:#008080;
}