<!--<div class="col-md-3 sm-3">-->
<!--  <h3>ジャンル検索</h3>-->

<!--  <#% genres.each do |genre| %>-->
<!--    <div class="genre-item">-->
<!--      <%#= link_to genre.name, genre_path(genre.id) %>-->
<!--    </div>-->
<!--  <#% end %>-->
<!--</div>-->


<!--検索機能なし↓-->
<div class="col-md-3 col-sm-3 text-center mt-3">
  <table class="col-md-8 text-center border border-dark pb-5">
    <tr class="col-md-8 text-center border border-dark">
      <th class="bg-active">ジャンル一覧</th>
    </tr>

    <% genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
    <% end %>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>
    <tr>
      <td><br></td>
    </tr>


  </table>

</div>