<footer>
  <div class ="container">
    <div class="row">
      <div class="col-12">
        <p class="fixed-bottom bg-dark text-center text-light mb-auto p-2">DWC.team.たこ焼き卍リベンジャーズ <%= link_to "管理者", admin_session_path, class: "text-dark text-decoration-none" %></p>
      </div>
    </div>
  </div>
</footer>